@model List<string>
@{
    ViewData["Title"] = "About";

}
@*<a id="vk" class="btn-floating btn-lg btn-vk" type="button" role="button"><i class="fab fa-vk"></i></a>*@
@*<a id="copy" class="btn-floating btn-lg btn-copy" type="button" role="button"><i class="fas fa-copy"></i></a>*@

<hr size="30px">

<div class="list-group">
    <div class="list-group-item">
        <span id='currentvideo' class=" btn-lg" style="padding-right: 0">1</span><span class="btn-fleoating btn-lg" style="padding: 0">/</span><span id='videocount' class="btn-floating btn-lg" style="padding-left: 0">20</span>
        
        @*<a id="copy" class="btn-floating btn-lg btn-copy" type="button" role="button"><i class="fas fa-copy"></i></a>*@
    </div>
    <div class="list-group-item"><video controls="controls" id="video" loop autoplay="autoplay" src="" width="100%" style="padding: 0;"></video></div>
    <div class="list-group-item"><input id="video-url" type="text" class="form-control" width="100%" /></div>
</div>

    <script>
    $(document).ready(function () {
        var i = 0;
        var height = document.documentElement.clientHeight - (document.documentElement.clientHeight/2.99);
        var videos = JSON.parse('@ViewBag.Data');
        $("#video").css("max-height", height);
        $("#video")[0].src = videos[0];
        $("#video-url")[0].value = videos[0];

        $("#currentvideo")[0].innerText = 1;
        $("#videocount")[0].innerText = videos.length;

        var video = document.body;

        Hammer(video).on("swipeleft", function (event) {
            if (i + 1 == videos.length) {
                alert("Видео закончились");
            } else {
                i++;
                event.target.src = videos[i];
                $("#video-url")[0].value = videos[i];
                $("#currentvideo")[0].innerText = (i + 1);
            }
        });

        Hammer(video).on("swiperight", function (event) {
            if (i == 0) {
                alert("Это первое видео");
            } else {
                i--;
                event.target.src = videos[i];
                $("#video-url")[0].value = videos[i];
                $("#currentvideo")[0].innerText = (i + 1);
            }
        });

        $( "#target" ).keydown(function( event ) {
            if (event.which === 68 || event.which === 39) {
                if (i + 1 == videos.length) {
                    alert("Видео закончились");
                } else {
                    i++;
                    $("#video")[0].src = videos[i];
                    $("#video-url")[0].value = videos[i];
                    $("#currentvideo")[0].innerText = (i + 1);
                }
            }
        });

        $("#target").keydown(function (event) {
            if (event.which === 65 || event.which === 37) {
                if (i == 0) {
                    alert("Это первое видео");
                } else {
                    i--;
                    $("#video")[0].src = videos[i];
                    $("#video-url")[0].value = videos[i];
                    $("#currentvideo")[0].innerText = (i + 1);
                }
            }
        });

    });
    </script>
