
@{
    ViewData["Title"] = "Boards";
}

<h2>Boards</h2>

<div class="list-group">
    <a asp-controller="Home" asp-action="Threads" asp-route-board="b" class="list-group-item">[/b/]</a>
    <a asp-controller="Home" asp-action="Threads" asp-route-board="tv" class="list-group-item">[/tv/]</a>
</div>